<h1 style="font-family: Arial, Helvetica, sans-serif;">Observable Project</h1>

<button (click)="btnClick()" class="btn btn-primary">Click Me</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<!-- <th scope="col">Id</th>
			<th scope="col">Title</th>
			<th scope="col">Body</th> -->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let std of this.stds">
			<th scope="row">{{ std }}</th>
			<!-- <td>{{ user.id }}</td>
			<td>{{ user.title }}</td>
			<td>{{ user.body }}</td> -->
		</tr>
	</tbody>
</table>